 
.account_table_head {
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    vertical-align: baseline;
}
.account_table_head img {
  vertical-align: baseline;
}
.account_table_head td:nth-child(4) {
  border-right: none;
}


.account_heading {
    font-weight: 800px;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 42px;
}
.table_head {
    width: 100%;
    height: 62px;
    margin: 0 auto;
    background: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}
.table_head span {   
    height: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #959595;
}
.table_content {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 1px solid #464646;
}
.table_content span {   
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;   
    color: #959595;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #464646;  
    margin-left: 80px;
}
.depostit_button {
    background-color: #538C31;    
    height: 36px; 
    width: 116px;
    color: #ffffff;
    font-size: 15px;
    margin-right: 10px;
    outline: none !important;
    border: none !important; 
    font-family: "Montserrat", sans-serif; 
}
.depostit_button:hover, .withdraw_button:hover {
    cursor: pointer;
}
.withdraw_button {
    background-color: #336495;   
    height: 36px; 
    width: 116px;
    color: #ffffff;
    outline: none !important;
    font-size: 15px;
    border: none !important;
    font-family: "Montserrat", sans-serif; 
}

/* account_table_data css */

h1.transactions {
  font-size: 28px;
  font-weight: 800;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  margin-top: 72px;
    margin-bottom: 29px;
}
table.account_table_data {
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
}
table td {
    height: 51px;
}
thead {   
    background: #1E1E1E; 
    border: none;  
    color: #959595; 
}
table.account_table_data tbody td:nth-child(2), table.account_table_data tbody td:nth-child(3),
table.account_table_data tbody td:nth-child(4), table.account_table_data tbody td:nth-child(5) {
  width: 22.5%;
}
thead th {
    height: 62px;
    width: auto;
}
thead span{
  text-align: center;
  margin: 0 auto !important;
  padding: 0 !important;
}
table td:nth-child(1) {  
    color: #6BA939;
    font-size: 13px !important;
}
td{  
   border-bottom: 1px solid #464646;
   border-right: 1px solid #464646;
}
 
table.account_table_data tbody td:nth-child(5) div{
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-right: none;
}
table.account_table_data tbody td:nth-child(5) {
  border-right: none;
}

/* pagination style */
.container_pagination {
  margin: 5vw auto;
}
.container_pagination ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.container_pagination ul li {
  border: 0.8px solid #6BA939;
  color: #ffffff;
  padding: 8px 10px;
  font-weight: 800;
}
.container_pagination ul li:nth-child(1) {
  color: #6BA939 !important;
}
.container_pagination ul li:nth-child(10) {
  color: #6BA939;
}
.container_pagination ul li a {
  text-decoration: none;
  color: #ffffff;
}
.container_pagination ul li:hover {
  background: #6BA939;
  cursor: pointer;
}

table td {
    padding-right: 2.5vw;
    padding-left: 2.5vw;
}

.pagination li, .pagination li a , .pagination li a span, .pagination span {
    background-color: #141414!important;
}
.pagination li.active span{
    color: #FFFFFF;
    background-color: #538c31!important;

}
.page-item.disabled .page-link{
    border: 1px solid #538c31!important;
    color: #FFFFFF;
    font-weight: bold;
}
.page-link {
    border: 1px solid #538c31;
    color: #FFFFFF;
    font-weight: bold;
}
.page-item.active .page-link {
    border: 1px solid #538c31;
    color: #000000;
    font-weight: bold;
}
.table thead th,.table thead th tr{
    border: none;
}
.table td, .table th {
    border-top: none;
}
td:nth-child(5) {
    display: table-cell;
}
.table {
    width: 99%;
}

.d-flex.justify-content-center{
    margin-top: 20px;
    margin-bottom: 20px;
}
#mobile_table > div:nth-child(2) > div.cube_second_side{
    margin-top: 20px;
}
#mobile_table > h5{
    text-align: center;
}

.show_date{
    position: absolute;
    height: 37px;
    background: #3946A9;
    border-radius: 8px;
    width: 170px;
    text-align: center;
    padding-top: 10px;
    top: -48px;
    left: -74px;
    visibility: hidden;
}

.drop_down{
    background: #3946A9;
    padding: 5px;
    transform:  rotateY(180deg) rotate(45deg);
}

.tool_img:hover + .show_date{
    visibility: visible;
}

.date_show{
    position: relative;
}
.show_date p{
    margin-bottom: 0px;
}

.tittle td{
    border-right: none!important;
    border-left: none!important;
}
.pagination_div{
    display: flex; justify-content: right;
}

@media (min-width: 481px) {
  #desktop_table {
    display: block;
  }
  #mobile_table {
    display: none;
  }
}

@media (max-width: 480px) {
  #desktop_table {
    display: none;
  }
  #mobile_table {
    display: block;
  }
  .account_heading {
    font-size: 28px;
  }
  .cube_for_mobile {
    width: 288px;
    height: 245px;
    background: #1E1E1E;
    margin: 0 auto;
  }
  .cube_second_side {
    margin-bottom: 10px;
  }
  .cube_first_side  {
    padding: 5px 15px;
  }
  .cube_first_side .headings div{
    padding: 10px 0; 
    color: #959595;
    font-size: 14px;
  }
  .cube_first_side .contents{
    font-size: 14px;
  }
  .cube_first_side .contents div{
    color: #ffffff;
    padding: 7px;
  }
  #info_right {
    display: flex;
    justify-content: right;
    flex-direction: column;
    font-size: 14px;
  }
  #info_right div{
    color: #ffffff;
    padding: 10px 0;
  }
  #main_table_mobile {
    margin-bottom: 20px;
  }
.pagination_div{
    display: unset!important;
}
    #mobile_table > div > ul{
        width: 288px !important;
        display: block!important;
        margin: 10px auto;
        height: 90px;
    }
    #mobile_table > div > ul > li{
        float: left!important;
        margin-bottom: 5px;
  }
}

.bal_clock{
margin-left: 5px!important;

}


