.custom_blackjack,#content{
    background-color: transparent!important;
    background-image: url("/assets/img/games/blackjack/blackjack_background.png");
}

#game-container{
    background-image: none;
    margin: 0 auto;
}

/*#content > div:nth-child(2) > div > div{*/
/*    width: 62%;*/
/*    margin:0 auto;*/
/*}*/

#game-container > div.blackjack-container{
    width: 62%;
    margin: 0 auto;
}

#game-container > div:nth-child(9){
    width: 64%;
    margin: 0 auto;
}

#game-container > div:nth-child(10) > div > div > button,#game-container > div:nth-child(8) > div button{
    background: linear-gradient(180deg, #22A06A 0%, #0B7347 99.51%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.27128);
    border-radius: 6px;
    border:none;
}

.logo_block{
    width: 55%;
}
.logo_block img{
    float: right;
    margin-top: 25px;
}

.actions_block{
    width: 29%;
}

#game-container > div.text-right{
    position: absolute;
    right: 17%;
    top: -16%;
}

.text-right i{
    color: #FFFFFF;
}

#game-container > div:nth-child(9) > div.form-group.col-lg-4.text-center label,
#game-container > div:nth-child(9) > div.form-group.col-lg-2.text-center label{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

#game-container > div:nth-child(9) > div.form-group.col-lg-4.text-center > div input,
#game-container > div:nth-child(9) > div.form-group.col-lg-4.text-center > div > div button,
#game-container > div:nth-child(9) > div.form-group.col-lg-4.text-center > div > div button:hover{
    background: linear-gradient(180deg, #00301D 0.47%, #003B23 100%);
    box-shadow: 0px 2px 4px #188858;
    border-radius: 6px;
    margin-right: 2px;
    border: none;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

#game-container > div:nth-child(9) > div.form-group.col-lg-2.text-center > div{
    background: linear-gradient(180deg, #FFD200 0%, #FF9500 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.27128);
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border: none;
}
#game-container > div:nth-child(9) > div.form-group.col-lg-2.text-center > div input{
    color: #000000;
    font-weight: bold;
    border: none;
}

#content > div:nth-child(1) > div > div > div.actions_block.d-inline-block > button{
    background: linear-gradient(180deg, #63279B 0%, #4F0197 100%);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.27128);
    border-radius: 4.8px;
}

#blackjack{
    max-width: 100%!important;
    padding: 0;
}

.actions_block.d-inline-block{
    z-index: 100000;
}

@media(max-width: 1024px){

    .logo_block {
        width: 59%;
    }
}

@media(max-width: 768px){

    .logo_block {
        width: 61%;
    }
    #game-container{
        padding-top: 0!important;
    }

    .mb-3, .my-3 {
        margin-bottom: 0.5rem!important;
        margin-top: 0.5rem!important;
    }

}


@media(max-width: 450px){


    #content > div:nth-child(1) > div > div > div.logo_block.d-inline-block{
        width: 266px;
    }
    #game-container > div.text-right {
        position: absolute;
        right: 13px;
        top: -115px;
    }
    #content > div:nth-child(1) > div > div > div.logo_block.d-inline-block {
        width: 283px;
    }
    #content > div:nth-child(1) > div > div > div.actions_block.d-inline-block {
        width: 124px;
        z-index: 10;
    }
    #game-container > div:nth-child(9) > div.form-group.col-lg-4.text-center > div > input{
        margin-bottom: 5px;
    }
    .mb-3, .my-3 {
        margin-bottom: 0rem!important;
    }
    .mt-3, .my-3 {
        margin-top: 0rem!important;
    }
    #content > div:nth-child(1) > div > div > div.actions_block.d-inline-block {
        /* width: 100%; */
        position: absolute;
        top: 108px;
        right: 10px;
    }
    #game-container {
        padding-top: 0!important;
        padding-right: 0!important;
        padding-left: 0!important;
    }
    #game-container > div.text-center.text-glow.my-3{
        margin-top: 0!important;
        margin-bottom: 8px!important;
    }
    .form-group {
        margin-bottom: 8px;
    }
    #game-container > div:nth-child(9) > div.form-group.col-lg-4.text-center > div > input{
        margin-bottom: 0!important;
    }
    .btn-group-lg>.btn, .btn-lg{
padding: 2px 7px!important;
    }
    #game-container > div:nth-child(8){
        height: 45px;
    }
    .form-group {
        margin-bottom: 8px!important;
    }
    [data-balloon][data-balloon-pos=down]:after, [data-balloon][data-balloon-pos=down]:before{
        left: 0!important;
    }
    [data-balloon][data-balloon-pos=down]:hover:after, [data-balloon][data-balloon-pos=down]:hover:before, [data-balloon][data-balloon-pos=down][data-balloon-visible]:after, [data-balloon][data-balloon-pos=down][data-balloon-visible]:before {
        transform: translate(-87%) !important;
    }
    .col {
        max-width: 99% !important;
    }
}

@media(max-width: 376px){
    #content > div:nth-child(1) > div > div > div.logo_block.d-inline-block {
        width: 225px;
    }
    div:nth-child(1) > div > div > div.logo_block.d-inline-block > img {
        margin-top: 0px;
        width: 142px;
    }
    #game-container > div.text-right {
        top: -102px;
    }
    #content > div:nth-child(1) > div > div > div.actions_block.d-inline-block {
        position: absolute;
        top: 50px;
    }
    #game-container > div:nth-child(8) > div > button{
        padding: 5px 5px;
    }
}
@media(max-width: 360px) {
    #content > div:nth-child(1) > div > div > div.actions_block.d-inline-block {
        width: 105px;
        z-index: 10;
    }
    .btn-group-sm>.btn, .btn-sm {
        padding: 2px 5px!important;
        font-size: 12px!important;
        line-height: 1.5;
        border-radius: .2rem;
    }
}
@media(max-width: 320px){

    #content > div:nth-child(1) > div > div > div.logo_block.d-inline-block {
        width: 228px;
    }
    div:nth-child(1) > div > div > div.logo_block.d-inline-block > img {
        margin-top: 0px;
        width: 114px;
    }
    #game-container > div.text-right {
        top: -82px;
    }
    #content > div:nth-child(1) > div > div > div.actions_block.d-inline-block > button{
        font-size: 12px;
    }
    #content > div:nth-child(1) > div > div > div.logo_block.d-inline-block {
        width: 183px;
    }
    #content > div:nth-child(1) > div > div > div.actions_block.d-inline-block {
        width: 105px;
        z-index: 10;
    }
    #game-container > div:nth-child(8) > div > button{
        font-size: 13px;
    }
    #game-container > div:nth-child(9) > div.form-group.col-lg-4.text-center > div > div{
        margin-top: 5px;
    }
    #game-container > div:nth-child(9) > div.form-group.col-lg-4.text-center > div > div > button{
        padding: 5px 11px;
    }
}

div#provably-fair-form {
    position: absolute;
    top: -193px;
    width: 98%;
}

#content > div:nth-child(1) > div > div > div.logo_block.d-inline-block > img{
    margin-top: 0px;
}
#game-container > div.text-right > button > span > i{
    margin-right: 8px;
}

.mt-3, .my-3 {
    margin-top: 0!important;
}

#game-container{
    padding-top: 0!important;
}

#content > div:nth-child(1) > div > div{
    margin-bottom: 0!important;
}


#provably-fair-form > div.form-row{
    display: block!important;
}

#provably-fair-form > div > div{
    max-width: 100%!important;
}

#content{
    margin-top: 0!important;
    padding-top: 0!important;
}