.content{font-family:Montserrat}.content .payment-navbar{width:100%;color:#fff;margin:auto;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex}.content .payment-navbar .btn-active-green{background-color:#538c31}.content .payment-navbar button{background-color:#1e1e1e;width:33.3%;height:60px;font-size:24px;color:#fff;border:none;padding:0;margin:42px 0 18px 0;cursor:pointer}.content .payment-navbar button:nth-of-type(2){margin-left:6px;margin-right:6px}.content .payment-deposit-block{background-color:#1e1e1e;padding:55px 250px}.content .payment-deposit-block .payment-deposit{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-webkit-justify-content:flex-start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;margin:auto;gap:16px}.content .payment-deposit-block .payment-deposit button{background-color:#141414;outline:0;height:100px;border:none;margin-bottom:40px;height:80px;width:136px;border-radius:6.400000095367432px;cursor:pointer}.content .payment-deposit-block .payment-deposit .deposit-btn-active-white{background-color:#fff}.content .payment-deposit-block .deposit-amount form{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;gap:16px}.content .payment-deposit-block .deposit-amount form label{font-size:20px;color:#fff;opacity:.5}.content .payment-deposit-block .deposit-amount form input{padding:16px 24px;width:321px;border-radius:0;background-color:#2a2a2a;font-family:Montserrat;color:#fff;border:none;font-size:24px;font-style:normal;line-height:29px;text-align:left}.content .payment-deposit-block .deposit-amount form input::-webkit-inner-spin-button,.content .payment-deposit-block .deposit-amount form input::-webkit-outer-spin-button{-webkit-appearance:none;appearance:none;margin:0}.content .payment-deposit-block .deposit-amount form div{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex}.content .payment-deposit-block .deposit-amount form div button,.content .payment-deposit-block .deposit-amount form div select{margin-left:10px;outline:0;border:none;height:60px;width:109px;background:#141414;font-family:Montserrat;font-style:normal;font-size:24px;line-height:29px;letter-spacing:.22693px;padding:13px;color:#538c31;cursor:pointer}.content .payment-deposit-block .deposit-amount form div select:disabled{opacity:1}.content .payment-deposit-block .deposit-amount form div button{color:#8e8e8e}.content .payment-deposit-block .deposit-amount form div select{background-image:url("data:image/svg+xml;utf8,<svg fill='%23538c31' viewBox='0 0 24 24' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");background-repeat:no-repeat;background-position-x:100%;background-position-y:50%;-webkit-appearance:none;-moz-appearance:none;appearance:none}.content .payment-deposit-block .deposit-amount form .proceed{height:60px;width:440px;padding-top:39.68px;margin-bottom:70px}.content .payment-deposit-block .deposit-amount form .proceed button{width:100%;margin-left:0;background-color:#538c31;font-family:Montserrat;font-style:normal;font-size:20px;letter-spacing:-.160891px;color:#fff}.content .deposit-complete{display:none;padding:32px 50px;background-color:#1e1e1e}.content .deposit-complete .deposit-complete-header h3{margin:0;font-family:Montserrat;font-style:normal;font-size:40px;color:#fff}.content .deposit-complete div p{margin:0;padding:16px 0 48px 0;font-family:Montserrat;font-style:normal;font-size:14px;color:#fff;opacity:.5}.content .deposit-complete form{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;gap:16px}.content .deposit-complete form label{font-size:20px;color:#fff;opacity:.5}.content .deposit-complete form input{padding:16px 24px;width:441px;border-radius:0;background-color:#2a2a2a;font-family:Montserrat;color:#fff;border:none;font-size:24px;font-style:normal;line-height:29px;text-align:left}.content .deposit-complete form input::-webkit-inner-spin-button,.content .deposit-complete form input::-webkit-outer-spin-button{-webkit-appearance:none;appearance:none;margin:0}.content .deposit-complete form .address,.content .deposit-complete form .amount{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex}.content .deposit-complete form .address .select-button,.content .deposit-complete form .amount .select-button{width:95px;color:#8e8e8e;background-color:#2a2a2a;border:none;border-right:6px solid #1e1e1e;outline:0;font-family:Montserrat;font-style:normal;font-size:24px;color:#fff}.content .deposit-complete form .address .copy-button,.content .deposit-complete form .address .qr-button,.content .deposit-complete form .amount .copy-button,.content .deposit-complete form .amount .qr-button{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;gap:10px;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;border:none;outline:0;height:60px;width:196px;border-radius:nullpx;font-family:Montserrat;font-style:normal;font-size:20px;color:#fff;background-color:#538c31;cursor:pointer}.content .deposit-complete form .address input,.content .deposit-complete form .amount input{margin-right:10px}.content .deposit-complete form .address input{width:536px}.content .deposit-complete form .address .qr-button{width:60px;border-right:3px solid #1e1e1e}.content .deposit-complete form .address .copy-button{width:136px}.content .deposit-complete .time-left p{font-family:Montserrat;font-style:normal;font-size:16px;line-height:20px;opacity:unset;color:#fff;padding-top:34.68px;padding-bottom:86px}.content .deposit-complete .time-left p span{width:80px;height:20px;font-family:Montserrat;font-style:normal;font-size:16px;color:#fff;opacity:.5;margin-right:6px}.content .banner{margin:3% 0 3% 0;width:100%}.content .banner img{width:100%;padding:0}@media (max-width:1024px){.content{font-family:Montserrat;padding:0!important}.content .payment-navbar{padding:11px 10px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.content .payment-navbar:nth-child(2){border-left:2px solid #000;border-right:2px solid #000}.content .payment-navbar .btn-active-green{background-color:#538c31}.content .payment-navbar button{height:30px;-webkit-box-flex:1;-webkit-flex-grow:1;-moz-box-flex:1;-ms-flex-positive:1;flex-grow:1;width:unset;font-size:13px;margin:0;padding:5px 10px}.content .payment-navbar :nth-child(3){-webkit-box-flex:2;-webkit-flex-grow:2;-moz-box-flex:2;-ms-flex-positive:2;flex-grow:2}.content .payment-deposit-block{background-color:#1e1e1e;padding:16px 10px}.content .payment-deposit-block .payment-deposit{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-webkit-justify-content:flex-start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;margin:auto;gap:16px}.content .payment-deposit-block .payment-deposit button{background-color:#141414;outline:0;height:100px;border:none;margin-bottom:30px;height:80px;width:136px;border-radius:6.400000095367432px}.content .payment-deposit-block .payment-deposit .deposit-btn-active-white{background-color:#fff}.content .payment-deposit-block .deposit-amount form{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;gap:16px}.content .payment-deposit-block .deposit-amount form label{font-size:20px;color:#fff;opacity:.5}.content .payment-deposit-block .deposit-amount form input{width:100%}.content .payment-deposit-block .deposit-amount form div{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex}.content .payment-deposit-block .deposit-amount form div button,.content .payment-deposit-block .deposit-amount form div select{margin-left:10px;outline:0;border:none;height:60px;width:109px;background:#141414;font-family:Montserrat;font-style:normal;font-size:24px;line-height:29px;letter-spacing:.22693px;padding:13px;color:#538c31;cursor:pointer}.content .payment-deposit-block .deposit-amount form div button{color:#8e8e8e}.content .payment-deposit-block .deposit-amount form div select{background-image:url("data:image/svg+xml;utf8,<svg fill='%23538c31' viewBox='0 0 24 24' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");background-repeat:no-repeat;background-position-x:100%;background-position-y:50%;-webkit-appearance:none;-moz-appearance:none;appearance:none}.content .payment-deposit-block .deposit-amount form .proceed{height:60px;width:100%;padding-top:unset;margin-bottom:unset}.content .payment-deposit-block .deposit-amount form .proceed button{width:100%;margin-left:0;background-color:#538c31;font-family:Montserrat;font-style:normal;font-size:20px;letter-spacing:-.160891px;color:#fff}.content .deposit-complete{padding:20px 16px;font-size:12px;background-color:#1e1e1e}.content .deposit-complete .deposit-complete-header h3{font-size:28px}.content .deposit-complete form{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.content .deposit-complete form div *{font-size:14px!important}.content .deposit-complete form div img{height:17}.content .deposit-complete form div input{padding:9px 7px}.content .deposit-complete form .address input{width:536px}.content .deposit-complete form .address .qr-button{width:none!important;height:36px;border-right:3px solid #1e1e1e}.content .deposit-complete form .address .copy-button{width:136px}.content .deposit-complete form label{font-size:20px;color:#fff;opacity:.5}.content .deposit-complete form div{width:100%}.content .deposit-complete form div input{width:100%!important}.content .deposit-complete form .address,.content .deposit-complete form .amount{height:36px}.content .deposit-complete form .address .copy-button,.content .deposit-complete form .amount .copy-button{height:36px}.content .deposit-complete .time-left p{padding-bottom:40px}.content .banner{margin:3% 0 3% 0}.content .banner img{width:100%;height:84px;padding:0}}
#stripe img{
    margin-left: -19px;
}
.inp_amount{
    padding: 16px 24px;
    width: 37%;
    border-radius: 0;
    background-color: #2a2a2a;
    font-family: Montserrat;
    color: #fff;
    border: none;
    font-size: 24px;
    font-style: normal;
    line-height: 29px;
    text-align: left;
}
.cp_btn{
    margin-left: 85px;
}

.payment_block{
    width: 65%;
    margin: 0 auto;
}

.content .payment-deposit-block .payment-deposit button {
    width: 160px;
}

.deposit-amount{
    width: 80%;
    margin: 0 auto;
}

.deposit-amount label {
    text-align: center;
}
.deposit-amount input{
    width: 425px!important;
}

.content .payment-deposit-block .deposit-amount form .proceed button {
    width: 97%;
}
.card_details{
    background: #2A2A2A;
    border-radius: 11px;
    width: 100%;
    height: 250px;
    padding: 30px;
}
.deposit-amount .card_numbers{
    background: #1E1E1E!important;
    margin-bottom: 19px;
    width:100%!important;
}
.card_cvc{
    background: #1E1E1E!important;
}

.card_month,.card_year{
    width:80px!important;
    display: inline-block;
    background: #1E1E1E!important;
    margin-right: 20px;
}
.deposit-amount input.card_month,.deposit-amount input.card_year,.deposit-amount input.card_cvc{
    width: 145px!important;
}

.content .payment-deposit-block .deposit-amount form .proceed {
    width: 100%;
}
:invalid {
    outline: none!important;
}

footer {
 position: unset!important;
    bottom: 0;
}

.content .deposit-complete {
    display: block;
}
.content .payment-deposit-block {
    background-color: #1e1e1e;
    padding: 55px 185px;
}
@media (max-width: 768px){


    .payment_block {
        width: 94% !important;
        margin: 0 auto;
    }

    .payment-deposit-block div,form,.payment-deposit{

    }
    body > div.content > div:nth-child(1) > div.payment-deposit-block > div > div > div.payment-deposit
    {
        display: block!important;
    }
    .content .payment-deposit-block .payment-deposit button {
        width: 168px;
    }

    .payment-deposit button{
        height: 122px!important;
    }


   div.deposit-amount  form label,div.deposit-amount  form input,div.deposit-amount  form button,#custom-select{
        font-size: 12px!important;
    }

    .content .payment-deposit-block .deposit-amount form input,
    body > div.content > div:nth-child(1) > div.payment-deposit-block > div > div > div.deposit-amount > form > div:nth-child(2) > button,
    #custom-select,
    .content .payment-deposit-block .deposit-amount form div button, .content .payment-deposit-block .deposit-amount form div select{
        padding: 2px 10px;
        height: unset;
    }

    #card_details_payment{
        margin-top: 0px;
    }



    .content .payment-deposit-block .deposit-amount form div button, .content .payment-deposit-block .deposit-amount form div select{
        margin-top: 0px;
        width: 100% !important;
    }

    div.deposit-amount > form > div > button,div.deposit-amount > form > div > select{
        width: 100%;
        padding: 5px!important;
    }
    .deposit-amount input {
        width:75% !important;
        display: inline-block;
    }
    .content .payment-deposit-block .deposit-amount form div button, .content .payment-deposit-block .deposit-amount form div select {
        margin-left: 5px;
        width: 20% !important;
    }
    label{
        font-size: 16px!important;
    }
    .payment-deposit-block {
        background-color: #1e1e1e;
        padding: 55px 10px!important;
    }
    .payment-deposit{
        width: 78vw;
        overflow-x: auto;
        overflow-y: hidden;

    }
    .payment-deposit button{
        display: inline-block;
        margin-right: 5px;
    }
    #stripe{
        padding: 15px 25px 0 25px;
    }

    #card_label_payment,#card_details_payment{
        display: none;
    }
    #content > div:nth-child(2) > div > div > div:nth-child(1) > div.payment-deposit-block > div > div > div.deposit-amount > form > div:nth-child(2) > button{
        text-align: left;
    }
    .content .payment-deposit-block .deposit-amount form .proceed {
        height: 50px!important;
        margin-top: 10px;
    }
    .deposit-amount input.card_month, .deposit-amount input.card_year, .deposit-amount input.card_cvc{
        width: 31% !important;
        display: inline-block;
    }
    .card_month, .card_year {
        margin-right: 10px;
    }
    .card_details {
        height: 180px;
    }

}

@media (max-width: 500px){
    .deposit-amount input.card_month, .deposit-amount input.card_year, .deposit-amount input.card_cvc {
        width: 29.5% !important;
        display: inline-block;
    }
}

@media (max-width: 492px){
    .deposit-amount input.card_month, .deposit-amount input.card_year, .deposit-amount input.card_cvc {
        width: 29% !important;
        display: inline-block;
    }
}

@media (max-width: 455px){
    .deposit-amount input.card_month, .deposit-amount input.card_year, .deposit-amount input.card_cvc {
        width: 28% !important;
        display: inline-block;
        padding: 2px!important;
    }
    .deposit-amount input {
        width: 70% !important;
        display: inline-block;
    }
    .content .payment-deposit-block .deposit-amount form div button, .content .payment-deposit-block .deposit-amount form div select {
        margin-left: 5px;
        width: 30% !important;
    }
    .card_details {
        height: 160px;
    }
}
@media (max-width: 400px){
    .deposit-amount input.card_month, .deposit-amount input.card_year, .deposit-amount input.card_cvc {
        width: 27% !important;
        display: inline-block;
    }
    .card_details {
        padding: 15px 10px;
    }
    .content .payment-navbar {
        padding: 11px 0;
    }
    .payment-navbar {
        width: 302px!important;
        margin-left: -15px!important;
    }
}
@media (max-width: 360px){
    .deposit-amount input.card_month, .deposit-amount input.card_year, .deposit-amount input.card_cvc {
        width: 26% !important;

    }
}
@media (max-width: 335px){
    .deposit-amount input.card_month, .deposit-amount input.card_year, .deposit-amount input.card_cvc {
        width: 26% !important;

    }

}

@media (max-width: 425px){

    .content .payment-deposit-block .payment-deposit button{
        width: 150px;
    }
    body > div.content > div:nth-child(1) > div.payment-deposit-block > div > div > div.payment-deposit > button.deposit-btn-active-white > img:nth-child(1){
        width: 13%;
    }
    body > div.content > div:nth-child(1) > div.payment-deposit-block > div > div > div.payment-deposit > button.deposit-btn-active-white > img:nth-child(2){
        width: 60%;
    }


}


@media (max-width: 375px){

    .content .payment-deposit-block .payment-deposit button {
        width: 150px;
    }

    div.payment-deposit > button{
        padding: 0;
    }
    body > div.content > div:nth-child(1) > div.payment-deposit-block > div > div > div.payment-deposit > button.deposit-btn-active-white > img:nth-child(1){
        width: 13%;
    }
    body > div.content > div:nth-child(1) > div.payment-deposit-block > div > div > div.payment-deposit > button.deposit-btn-active-white > img:nth-child(2){
        width: 60%;
    }
}


@media (max-width: 370px){
    .content .payment-deposit-block .payment-deposit button {
        width: 130px;
    }
    body > div.content > div:nth-child(1) > div.payment-deposit-block > div > div > div.payment-deposit > button.deposit-btn-active-white > img:nth-child(1){
        width: 13%;
    }
    body > div.content > div:nth-child(1) > div.payment-deposit-block > div > div > div.payment-deposit > button.deposit-btn-active-white > img:nth-child(2){
        width: 60%;
    }

}

@media (max-width: 360px){
    .content .payment-deposit-block .payment-deposit button {
        width: 127px;
    }
    body > div.content > div:nth-child(1) > div.payment-deposit-block > div > div > div.payment-deposit > button.deposit-btn-active-white > img:nth-child(1){
        width: 13%;
    }
    body > div.content > div:nth-child(1) > div.payment-deposit-block > div > div > div.payment-deposit > button.deposit-btn-active-white > img:nth-child(2){
        width: 60%;
    }

}



@media (max-width: 340px){

    .content .payment-deposit-block .payment-deposit button {
        width: 127px;
    }


}

@media (max-width: 320px){


    div.payment-deposit button{
        width: 126px!important;
    }

    .payment-deposit button {
        height: 102px!important;
    }

}

