header .light {
    color: #fff !important
}

header .header__upper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 10px 175px;
    background-color: #000
}

header .header__upper a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #959595
}

header .header__upper a:hover .dropdown {
    display: block
}

header .header__upper a:not(:last-of-type) {
    margin-right: 22.5px
}

header .header__upper a img {
    z-index: 16
}

header .header__upper a img:not(.arrow) {
    margin-right: 10px
}

header .header__upper a .dropdown {
    all: unset;
    display: none;
    position: absolute;
    z-index: 15;
    top: 15px;
    left: 0;
    text-align: center;
    right: 0;
    background-color: #000;
    width: 170px;
    padding: 10px 0;
    padding-top: 21px
}

header .header__upper a .dropdown object {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

header .header__upper a .dropdown a {
    text-align: center;
    margin: 0;
    margin-top: 10px
}

header .header__upper a .dropdown a:hover {
    color: #fff
}

header .header__upper a .dropdown a:first-of-type {
    margin-top: 0
}

header .header__content {
    height: 90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #171717;
    padding: 0 175px
}

header .header__content .close, header .header__content .hamburger {
    display: none
}

header .header__content .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0
}

header .header__content .logo img {
    margin-right: 10px
}

header .header__content .language {
    padding: 5px;
    background-color: #252424;
    margin-left: 20px;
    position: relative;
    border: 0;
    margin-right: 20px
}

header .header__content .language .arrow {
    margin-left: 10px
}

header .header__content .language:hover .language__bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

header .header__content .language__bar {
    position: absolute;
    display: none;
    z-index: 999;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 60px;
    top: 30px;
    width: 100%;
    background-color: inherit;
    padding: 10px 5px
}

header .header__content .language__bar a {
    all: unset;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    cursor: pointer
}

header .header__content .language__bar a:not(:last-of-type) {
    margin-bottom: 10px
}

header .header__content .language__bar span {
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px
}

header .header__content .language img:first-of-type {
    width: 28px;
    height: 20px
}

header .header__content .language__mobile {
    display: none
}

header .header__content div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

header .header__content div a {
    padding: 8px 32px;
    color: #fff
}

header .header__content div a.account {
    background-color: #336495;
    margin-right: 20px
}

header .header__content div a.deposit {
    background-color: #538c31
}

header .header__content span {
    font-size: 22px;
    font-weight: bolder;
    color: #fff
}

header .header__content .reg-menu .light {
    padding: unset
}

header .header__content .reg-menu .balance {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
    background: #252424;
    color: #707070;
    margin-right: 30px
}

header .header__content .reg-menu .balance .deposit {
    padding: 10px 32px;
    font-weight: 500;
}

header .header__content .reg-menu .balance div {
    all: unset;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 30px
}

header .header__content .reg-menu .balance div span {
    font-size: 14px;
    font-weight: 700;
    font-size: inherit;
    color: inherit;
    margin-bottom: 5px
}

header .header__content .reg-menu .balance div div {
    font-size: 14px;
    font-weight: 900;
    color: #ffbc00;
    margin-right: 0
}

header .header__content .reg-menu .account {
    position: relative;
    cursor: pointer
}

header .header__content .reg-menu .account a {
    margin-right: 10px
}

header .header__content .reg-menu .account .dropdown {
    position: absolute;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 99999;
    top: 25px;
    background-color: #000;
    width: 90px;
    padding: 10px 0
}

header .header__content .reg-menu .account .dropdown a {
    all: unset;
    color: #fff;
    cursor: pointer
}

header .header__content .reg-menu .account .dropdown a:not(:first-of-type) {
    margin-top: 20px
}

header .header__content .reg-menu .account .flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important
}

.header__mobile {
    display: none;
    min-height: -moz-calc(100vh - 90px);
    min-height: calc(100vh - 90px);
    background-color: #141414;
    width: 100%
}

.header__mobile .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 0
}

.header__mobile .menu a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    color: #959595;
    margin-bottom: 25px
}

.header__mobile .menu a.light {
    color: #fff
}

.header__mobile .menu a img:not(:first-of-type) {
    margin-left: 16px
}

.header__mobile .menu a img:first-of-type {
    margin-right: 16px
}

.header__mobile .menu a:not(.light) img {
    visibility: hidden
}

.header__mobile .menu a img {
    width: 24px;
    height: 24px
}

.header__mobile .account {
    font-size: 16px;
    font-weight: 500;
    padding: 16px 72px;
    color: #fff;
    background-color: #336495;
    display: table;
    margin: 0 auto
}

footer {
    background-color: #1e1e1e;
    padding: 20px 175px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

footer .left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

footer .left a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

footer .left a:first-of-type {
    margin-right: 45px
}

footer .left a span {
    color: #707070;
    margin-left: 10px
}

footer .left a .logoname {
    white-space: nowrap;
    font-size: 22px;
    font-weight: bolder
}

footer .right a {
    font-size: 16px;
    font-weight: 500;
    color: #959595
}

footer .right a:not(:last-of-type) {
    margin-right: 22.5px
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    font-family: Montserrat, sans-serif
}

body {
    margin: 0;
    padding: 0;
    background-color: #141414
}

a {
    text-decoration: none
}

.no-overflow {
    display: none !important
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.yellow {
    color: #ffd400 !important
}

.jackpot {
    width: 250px;
    height: 50px;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -moz-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: none;
    margin-left: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px auto
}

.jackpot img {
    position: absolute;
    margin-right: 10px
}

.jackpot .first {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px
}

.jackpot .amount {
    font-size: 28px;
    font-weight: 900;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffde00), to(#ff9400));
    background: -moz-linear-gradient(#ffde00, #ff9400);
    background: -o-linear-gradient(#ffde00, #ff9400);
    background: linear-gradient(#ffde00, #ff9400);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.jackpot .btc {
    font-size: 16px;
    font-weight: 900;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffde00), to(#ff9400));
    background: -moz-linear-gradient(#ffde00, #ff9400);
    background: -o-linear-gradient(#ffde00, #ff9400);
    background: linear-gradient(#ffde00, #ff9400);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: -5px
}

.border {
    display: none;
    width: 100%;
    height: 4px;
    background-color: #2a2929
}

.content {
    padding: 0 175px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #141414;
    min-height: -moz-calc(100vh - 130px);
    min-height: calc(100vh - 130px)
}

@media (max-width: 1366px) {
    header .header__content, header .header__upper {
        padding: 10px 5vw
    }

    footer {
        padding: 30px 5vw
    }
}

@media (max-width: 1200px) {
    header .header__content, header .header__upper {
        padding: 10px 15px
    }

    .content {
        padding: 0 100px
    }

    footer {
        padding: 30px 15px
    }
}

@media (max-width: 1024px) {
    header .jackpot {
        display: none !important
    }

    footer {
        padding: 30px 15px
    }

    footer .left a:first-of-type {
        margin-right: 20px
    }

    footer .right a:not(:last-of-type) {
        margin-right: 12px
    }
}

@media (max-width: 768px) {
    .border {
        display: block
    }

    header .header__upper {
        display: none
    }

    header .header__content .hamburger {
        display: inline-block
    }

    header .header__content .close, header .header__content .hamburger {
        cursor: pointer
    }

    header .header__content .reg-menu {
        display: none
    }

    header .header__content .language {
        display: none
    }

    header .header__content .jackpot {
        display: none
    }

    header .header__content .accdep {
        display: none
    }

    header .header__content .language__mobile {
        display: block;
        margin: 0
    }

    .header__mobile {
        display: none;
        position: absolute;
        z-index: 120000000
    }

    .header__mobile .menu .dropdown {
        padding-left: 34px;
        display: none
    }

    .header__mobile .special-menu {
        padding-bottom: 30px
    }

    .header__mobile .special-menu a {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        cursor: default
    }

    .header__mobile .special-menu a .yellow {
        font-weight: 700;
        color: #ffbc00 !important
    }

    .header__mobile .special-menu a div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .header__mobile .special-menu a div img {
        margin-right: 16px
    }

    .header__mobile .special-menu a.deposit {
        all: unset;
        font-size: 20px;
        font-weight: 900;
        padding: 10px 32px;
        text-align: center;
        background-color: #538c31;
        color: #fff;
        cursor: pointer
    }

    .content {
        min-height: -moz-calc(100vh - 90px);
        min-height: calc(100vh - 90px)
    }

    footer {
        padding: 20px 45px;
        height: unset;
        width: 100%;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    footer .left {
        width: 100%;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    footer .left a {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%
    }

    footer .left a:first-of-type {
        margin-bottom: 10px;
        margin-right: 0
    }

    footer .left a .logoname {
        font-size: 18px
    }

    footer .right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px
    }

    footer .right a {
        margin-right: 5px !important;
        margin-top: 10px
    }
}

@media (max-width: 480px) {
    header .header__content {
        height: 70px;
        padding: 0 15px
    }

    header .header__content .logo span {
        display: none
    }

    header .header__content .logo img {
        width: 24px;
        height: 24px
    }

    .header__mobile {
        min-height: -moz-calc(100vh - 70px);
        min-height: calc(100vh - 70px)
    }

    .content {
        padding: 0 15px;
        min-height: -moz-calc(100vh - 70px);
        min-height: calc(100vh - 70px)
    }
}

#app > div > header > div.header__upper > a > div {
    z-index: 1000000000000;
    top: 38px;
    padding-top: 0;
}

#info-modal > div {
    z-index: 100000000000000000;
}

footer {
    position: absolute;
    bottom: 0;
}

body {
    /*padding-bottom: 107px!important;*/
    height: 100%;
}

header .header__upper {
    padding: 0px 175px 0 175px;
    height: 51px;

    /* background-color: #000; */
}

body > header > div.header__upper > a:nth-child(1) > div > object {
    padding-top: 10px;
}

header .header__upper a .dropdown {
    width: 220px !important;
}

header .header__content .language__bar {
    width: 83px;
    padding: 15px;
}

.fairraffle {
    margin-top: 80px;
    margin-bottom: 80px !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #111;
    padding-top: 30px;
}

body > header > div.header__upper > a:nth-child(2) > div {
    padding-top: 5px;
    z-index: 3;
}

.my_games {
    top: 35px !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
    text-decoration: underline;
}

header .header__content .reg-menu .account .dropdown {
    width: 110px;
    left: -13px;
}

#app > div > header > div.header__content > div:nth-child(3) > div > span.first {
    margin-left: -25px;
}

.btn.btn-primary.btn-lg.btn-play.mt-1 {
    border-color: #500097;
    border: none !important;
}

.content .luckygames__card img:nth-of-type(2) {
    width: 100%;
    max-width: 200px;
    height: auto !important;
}

@media (max-width: 1580px) {
    .logo {
        width: 37%;
    }

    header .header__content, header .header__upper {
        background-color: #171717;
        padding: 0 130px;
    }

    header .header__content .reg-menu .balance {
        margin-right: 8px;
    }
}


@media (max-width: 1500px) {
    .logo {
        width: 37%;
    }

    .header__content, header .header__upper {
        padding: 0 80px !important;
    }

    header .header__content .reg-menu .balance {
        margin-right: 8px;
    }
}

@media (max-width: 1400px) {
    .logo {
        width: 37%;
    }

    .header__content, header .header__upper {
        padding: 0 35px !important;
    }

    header .header__content .reg-menu .balance {
        margin-right: 8px;
    }
}

@media (max-width: 1300px) {
    .logo {
        width: 37%;
    }

    .header__content, header .header__upper {
        padding: 0 35px !important;
    }

    header .header__content .reg-menu .balance {
        margin-right: 8px;
    }

    .jackpot {
        margin-left: 20px;
    }
}

@media (max-width: 1240px) {

    header .header__content .reg-menu .account .dropdown {
        width: 110px;
        left: -58px;
    }

    header .header__content, header .header__upper {
        padding: 10px 35px !important;
    }

    .logo {
        width: 31%;
    }
}


@media (max-width: 1160px) {

    header .header__content, header .header__upper {
        padding: 10px 15px !important;
    }

}


@media (max-width: 1080px) {

    header .header__content, header .header__upper {
        padding: 10px 15px !important;
    }

}

@media (max-width: 850px) {

    footer {
        position: inherit !important;
    }

    body {
        padding-bottom: 0 !important;
    }

    .header__mobile {
        width: 96.1%;
    }

    .jackpot img {
        width: 300px !important;
    }

    .jackpot {
        width: 310px !important;
    }
}

    @media (max-width: 450px) {
        .header__mobile {
            width: 93%;
        }

        header .header__content .language__bar {
            left: -26px;
        }
    }

    @media (max-width: 380px) {
        .header__mobile {
            width: 92%;
        }
    }
    @media (max-width: 380px) {
        .header__mobile {
            width: 90.5%;
        }
    }

    @media (max-width: 481px) {
        .dice__wrapper {

            width: 100% !important;
        }

        #roll div {
            width: 60px !important;
        }

        .dice__game {
            width: 100% !important;
        }

        #amount {
            width: 211px !important;
        }

        #chance, #payout {
            width: 64px !important;
        }

        .dice__game {
            margin-bottom: 45px !important;
        }

        .buttons button {
            font-size: 18px !important;
        }
    }