@mixin shadow ($h: 0, $v: 0, $blur: 10px, $spread: 0, $color: rgba(0,0,0,0.10)) {
  -webkit-box-shadow: $h $v $blur $spread $color;
  -moz-box-shadow: $h $v $blur $spread $color;
  box-shadow: $h $v $blur $spread $color;
}